<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>The JavaScript Quiz Mini Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="JavaScript Crash Course - Make A Quiz!" />
    <meta name="author" content="rikku" />
    
    <!-- stylesheet loading -->
    <link data-require="bootstrap-css" data-semver="4.0.0-alpha.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link href="style.css" rel="stylesheet" />

    <!-- javascript file loading -->
    <script data-require="jquery" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script data-require="bootstrap" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
    <script src="cats.js"></script>
    <script src="createQuestion.js"></script>
    <script src="createResponse.js"></script>
    <script src="client.js"></script>
  </head>

  <body>

  <!-- HTML version of a question (for comparison)

  This is an example of a Bootstrap component. 
  Full documentation: http://getbootstrap.com/docs/4.0/components/card/
  
      <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">Question 1</h4>
        <p class="card-text">Question wording</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Answer 1</li>
        <li class="list-group-item">Answer 2</li>
        <li class="list-group-item">Answer 3</li>
        <li class="list-group-item">Answer 4</li>
      </ul>
      <div class="card-block">
        More text, buttons, etc. 
      </div>
      </div>
   -->
   
   <!-- HTML version of a response (for comparison)
   
   This is a custom component with styles defined in styles.css
   
      <div class="my-popup">
        <div class="my-overlay my-bg">
          <img />
        </div>
        <div class="my-overlay my-text">text</div>
      </div>
    -->
</body>

</html>
